.task-card {
  height: 50px;

  border: 1px solid black;
  width: 75%;
  margin: 10px auto;
  line-height: 50px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.card-controller {
  display: flex;
}